
<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="Premium HTML5 Template by Indonez">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, vanilla javascript">
    <meta name="author" content="Indonez">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#f2f3f5" />
    <!-- Site Properties -->
    <title>Loona | Signup</title>
    <!-- Critical preload -->
    <link rel="preload" href="../js/vendors/uikit.min.js" as="script">
    <link rel="preload" href="../css/vendors/uikit.min.css" as="style">
    <link rel="preload" href="../css/style.css" as="style">
    <!-- Icon preload -->
    <link rel="preload" href="../fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
    <!-- Font preload -->
    <link rel="preload" href="../fonts/inter-v2-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../fonts/inter-v2-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../fonts/inter-v2-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="../img/favicon2.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="../apple-touch-icon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/vendors/uikit.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>

<body>
    <!-- preloader begin -->
    <div class="in-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- preloader end -->
    <header>
        <!-- header content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <nav class="uk-navbar-container" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
                <div class="uk-container" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <!-- logo begin -->
                            <a class="uk-logo" href="/">
                                <img src="img/in-lazy.gif" data-src="../img/in-logo-1.png" alt="logo" width="160" height="34" data-uk-img>
                            </a>
                            <!-- logo end -->
                            <!-- navigation begin -->
                            <ul class="uk-navbar-nav uk-visible@m">
                                <li><a href="/">Home</a>
                                </li>
                                <li><a href="/updates">Updates</a></li>
                                <li><a href="#">Company<i class="fas fa-chevron-down"></i></a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="/about">About</a></li>
                                            <li><a href="/careers">Careers</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">Resources<i class="fas fa-chevron-down"></i></a>
                                    <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                        <div class="uk-navbar-dropdown-grid uk-child-width-1-2" data-uk-grid>
                                            <div>
                                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                                    <li><a href="/help-center">Help Center</a></li>
                                                    <li><a href="/roadmap">Roadmap</a></li>
                                                    <li><a href="/top-clients">Top Clients</a></li>
                                                    <li><a href="/legal-docs">Legal Docs<i class="fas fa-gavel fa-sm"></i></a></li>
                                                </ul>
                                            </div>
                                            <div>
                                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                                    <li><a class="uk-disabled" href="#">Adipiscing elit sed do eiusmod incididunt ut labore dolore magna lorem ipsum sit dolor amet consectetur</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- navigation end -->
                        </div>
                    </div>
                    <div class="uk-navbar-right">
                        <div class="uk-navbar-item uk-visible@m in-optional-nav">
                            <!-- <a href="/login" style="font-weight:bold;" id="loginBtn" class="uk-button uk-button-primary uk-border-rounded">Login</a><hr>&nbsp;&nbsp;&nbsp;</hr>
                            <a href="/signup" style="font-weight:bold;" class="uk-button uk-button-primary uk-border-rounded">Create Account</a> -->
                            <!-- <a href="login" class="uk-button uk-button-text"><i class="fas fa-user-circle"></i></a> -->
                            <style>
                                #loginBtn {
                                    background:white;
                                }
                                #loginBtn:hover {
                                    background: #d9d9d9;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- header content end -->
    </header>
    <main>
        <!-- slideshow content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-light in-slideshow uk-background-cover uk-background-top-center" id="bg9" style="background-image: url(../img/in-liquid-slide-bg.png);" data-uk-slideshow>
                    </li>
                    <li>
                                    <div class="uk-overlay">              
                                        
                                        <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
                                        
                                        <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
                                        
                                        <link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
                                        
                                        <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
                                        
                                        <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
                                        
                                        <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
                                        
                                        <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
                                        
                                        <link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
                                        
                                        <link rel="stylesheet" type="text/css" href="../css/util.css">
                                        <link rel="stylesheet" type="text/css" href="../css/main.css">
                                        
                                        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
                                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                                        <link rel="stylesheet" href="../css/login.css">
                                        <script nonce="9cf1326c-491a-41a7-bd73-6237e6daac62">(function(w,d){!function(bv,bw,bx,by){bv[bx]=bv[bx]||{};bv[bx].executed=[];bv.zaraz={deferred:[],listeners:[]};bv.zaraz.q=[];bv.zaraz._f=function(bz){return function(){var bA=Array.prototype.slice.call(arguments);bv.zaraz.q.push({m:bz,a:bA})}};for(const bB of["track","set","debug"])bv.zaraz[bB]=bv.zaraz._f(bB);bv.zaraz.init=()=>{var bC=bw.getElementsByTagName(by)[0],bD=bw.createElement(by),bE=bw.getElementsByTagName("title")[0];bE&&(bv[bx].t=bw.getElementsByTagName("title")[0].text);bv[bx].x=Math.random();bv[bx].w=bv.screen.width;bv[bx].h=bv.screen.height;bv[bx].j=bv.innerHeight;bv[bx].e=bv.innerWidth;bv[bx].l=bv.location.href;bv[bx].r=bw.referrer;bv[bx].k=bv.screen.colorDepth;bv[bx].n=bw.characterSet;bv[bx].o=(new Date).getTimezoneOffset();if(bv.dataLayer)for(const bI of Object.entries(Object.entries(dataLayer).reduce(((bJ,bK)=>({...bJ[1],...bK[1]})))))zaraz.set(bI[0],bI[1],{scope:"page"});bv[bx].q=[];for(;bv.zaraz.q.length;){const bL=bv.zaraz.q.shift();bv[bx].q.push(bL)}bD.defer=!0;for(const bM of[localStorage,sessionStorage])Object.keys(bM||{}).filter((bO=>bO.startsWith("_zaraz_"))).forEach((bN=>{try{bv[bx]["z_"+bN.slice(7)]=JSON.parse(bM.getItem(bN))}catch{bv[bx]["z_"+bN.slice(7)]=bM.getItem(bN)}}));bD.referrerPolicy="origin";bD.src="/cdn-cgi/zaraz/s.js?z="+btoa(encodeURIComponent(JSON.stringify(bv[bx])));bC.parentNode.insertBefore(bD,bC)};["complete","interactive"].includes(bw.readyState)?zaraz.init():bv.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);</script></head>
                                        <body>
                                        <section class="ftco-section">
                                        <div class="container" style="position:relative;margin-top:-85px;" id="logincontainer9">
                                        <div class="row justify-content-center">
                                        <div class="col-md-6 text-center mb-5">
                                        </div>
                                        </div>
                                        <div class="row justify-content-center">
                                        <div class="col-md-12 col-lg-10">
                                        <div class="wrap d-md-flex" id="login9">
                                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                                        <div class="text w-100">
                                        <h3><b>Create an Account</b></h3>
                                        </div>
                                        </div>
                                        <div class="login-wrap p-4 p-lg-5">
                                        <div class="d-flex">
                                        <div class="w-100">
                                        <h3 class="mb-4" style="color:black;font-family:'Inter',sans-serif;font-weight:bold;">Sign Up</h3>
                                        </div>
                                        </div>
                                        <form method="post" action="/api/signup" class="signin-form">
                                        <div class="form-group mb-3">
                                        <label class="label" for="name">Full Name</label>
                                        <input type="text" name="fullName" id="fullName" class="form-control" placeholder="Full Name" required>
                                        </div>
                                        <div class="form-group mb-3">
                                        <label class="label" for="name">Email</label>
                                        <input type="text" name="email" id="email" class="form-control" placeholder="Email" required>
                                        </div>
                                        <div class="form-group mb-3">
                                        <label class="label" for="password">Password</label>
                                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                        <button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
                                        </div>
                                        <div class="form-group d-md-flex">
                                        <div class="w-50 text-left">
                                        <label class="checkbox-wrap checkbox-primary mb-0" id="remember9">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                        </label>
                                        </div>
                                        </div>
                                        </form>
                                        </div>
                                        </div>
                                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last" id="loginfooter9" style="position:relative;margin-top:-30px;height:0px;width:100%;">
                                        <div class="text w-100">
                                        <p style="font-size:14px;color:white;font-family:'Inter',sans-serif;position:relative;margin-top:15px;">Already have an account?<a href="/login" class="btn btn-white btn-outline-white" style="font-family:'Inter',sans-serif;font-size:14px;margin-left:10px;height:30px;display:inline-flex;align-items:center;" id="alreadybtn9">Login</a></p>
                                        <style>
                                            @media (min-width:992px){
                                                #bg9 {
                                                    height:800px;
                                                }
                                            }
                                        </style>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </section>
                                        <% if (usedemail) { %>
                                            <script>
                                                alert("Email has already been used.")
                                                document.title = 'Whoopp | Signup - Email has already been used.'
                                            </script>
                                        <% } %>
                                        <% if (usedemail) { %>
                                            <script>
                                                window.history.replaceState({}, "", `/signup`)
                                            </script>
                                        <% } %>
                                        </div>
                                        </div>
                                        <div id="dropDownSelect1"></div>
                                        
                                        <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
                                        
                                        <script src="../vendor/animsition/js/animsition.min.js"></script>
                                        
                                        <script src="../vendor/bootstrap/js/popper.js"></script>
                                        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
                                        
                                        <script src="../vendor/select2/select2.min.js"></script>
                                        
                                        <script src="../vendor/daterangepicker/moment.min.js"></script>
                                        <script src="../vendor/daterangepicker/daterangepicker.js"></script>
                                        
                                        <script src="../vendor/countdowntime/countdowntime.js"></script>
                                        
                                        <script src="../js/main.js"></script>
                                        
                                        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
                                        <script>
                                              window.dataLayer = window.dataLayer || [];
                                              function gtag(){dataLayer.push(arguments);}
                                              gtag('js', new Date());
                                        
                                              gtag('config', 'UA-23581568-13');
                                            </script>
                                        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"79c0c3981cf281a9","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.2.0","si":100}' crossorigin="anonymous"></script>                                    
                                    </div>
                                </div>
                            </div>
                    </li>
    <footer>
        <!-- footer content begin -->
        <div class="uk-section uk-background-secondary uk-light">
            <div class="uk-container uk-text-small">
                <div class="uk-child-width-1-2@m" data-uk-grid>
                    <div class="in-footer-logo">
                        <img src="img/in-lazy.gif" data-src="../img/in-logo-1.png" alt="logo" width="127" height="27" data-uk-img>
                    </div>
                    <div class="uk-flex uk-flex-right@m">
                        <div class="in-footer-socials">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <!-- <a class="uk-button uk-button-text uk-margin-large-left uk-visible@m" href="#">Company News</a>
                        <a class="uk-button uk-button-text uk-margin-large-left uk-visible@m" href="#">Partnership</a> -->
                    </div>
                </div>
                <div class="uk-grid uk-margin-large-top">
                    <div class="uk-width-1-1">
                        <p class="uk-heading-line uk-margin-large-bottom"><span>Copyright ©2023 Loona Inc. All Rights Reserved.</span></p>
                        <p class="in-trading-risk">Trading derivatives and leveraged products carries a high level of risk, including the risk of losing substantially more than your initial investment. It is not suitable for everyone. Before you make any decision in relation to a financial product you should obtain and consider our Product Disclosure Statement (PDS) and Financial Services Guide (FSG) available on our website and seek independent advice if necessary</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content end -->
        <!-- totop begin -->
        <div class="uk-visible@m">
            <a href="#" class="in-totop fas fa-chevron-up" data-uk-scroll></a>
        </div>
        <!-- totop end -->
    </footer>
    <!-- Javascript -->
    <script src="../js/vendors/uikit.min.js"></script>
    <script src="../js/vendors/blockit.min.js"></script>
    <script src="../js/config-theme.js"></script>
</body>

</html>